.valid {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("http://www.marbleinstallers.com/9TipsAd/CheckMarkGreen20px.jpg");
  background-color: white;
}


.invalid {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("http://escforumwiki.com/images/thumb/b/ba/Red_x.svg/20px-Red_x.svg.png");
	background-color: white;
}
