   body {
     background-color: CadetBlue;
   }

   h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 60.3999996185303px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

h4 {
	color: #66CDAA;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30.3999996185303px;
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}