html {
    background: url(b2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#b1 {
    margin-left: 6cm;
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.39999961853px;
    background-color: rgba(95,158,160,0.5);
    display: inline;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 12px;
}

#b2 {
    padding: 10px;
    margin-top: 30px;
    margin-left: 6cm;
/* Increase this to make the boxes appear a little more to the left  */
    text-align: center;
/* Centers the font within the width of the box  */
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
/* Sets the font */
    background-color: rgba(95,158,160,0.5);
/* Sets background to cadet blue, but with transparent opacity of .5  */
    border-radius: 25px;
/* Rounds the edges  */

    width: 1000px;
}

a:link {
    text-decoration: none;
}

caption {
    display: table-caption;
    text-align: center;
    font-size: 35px;
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 12px;
    font-weight: 700;
}

form {
    margin-top: 30px;
    font-size: 20px;
    color: #FFF;
}

td {
    font-size: 16px;
    /* padding: 0; */
}

th {
    font-size: 18px;
}